*{
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  body {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    width: 100%;
    height: 100vh;
  }
  
  .container {
    display: flex;
    width: 80%;
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
  }

/* Header */

.header {
    background-color: whitesmoke;
    border-bottom: 5px solid #C23A0D;
    /* borda da navbar*/
}

.header .container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.titulo {
    color: #C23A0D;
    font-weight: 500;
}

.navbar {
    display: flex;
    width: 600px;
    align-items: center;
    list-style: none;
    justify-content: space-between;

}

.navbar li,
.navbar a {
    color: #C23A0D;
    text-decoration: none;
}




.banner {
    display: flex;
    padding: 2% 0%;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    color: white;
    width: 100%;
}

.banner p {
    width: 280px;
    font-size: 2.2rem;
}

.banner span {
    font-weight: 800;
}

/* Começo do Footer */

.footer {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    border-top: 5px solid #C23A0D;
    /* borda do foorter */
    color: #333333;

}


.footer .container {

    justify-content: center;
    align-items: center;
    height: 100%;
   

}