* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f3f3f3;
    width: 100%;
    height: 100vh;
}

html,
body {
    height: 100%;
}

.blur {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px) brightness(0.5);
    background-color: rgba(0, 0, 0, 0.5)
}

/* pop up registar*/
.pop_up {
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #f3f3f3;
    border-radius: 5px;
    top: 15%;
    left: 20%;
    padding: 5%;
}

.pop_up h2 {
    text-align: center;
    margin-bottom: 0.5%;
    font-size: 1.5vw;
}

.pop_up hr {
    width: 25%;
    margin: 0 0 4% 37.5%;
}

.pop_up h3 {
    font-size: 1.3vw;
    margin: 2% 0 2% 0;
}

.pop_up input {
    width: 90%;
    margin: 0 5%;
    padding: 0.5%;
}

.pop_up button {
    margin-top: 5%;
    margin-left: 42.5%;
    width: 20%;
    padding: 2% 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1vw;
    color: black;
    background: linear-gradient(90deg, rgba(95, 204, 229, 1) 0%, rgba(173, 230, 247, 1) 100%);
    border: none;
    cursor: pointer;
}

.alertas {
    position: absolute;
    width: 60%;
    height: 70%;
    background-color: #f3f3f3;
    border-radius: 5px;
    top: 15%;
    left: 20%;
    padding: 4%;
    color: black;
}

.alertas table {
    width: 100%;
}

td {
    padding: 2% 0% 2% 0%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.alertas h2 {
    margin-bottom: 2%;
}

.alertas h4 {
    margin: 0.5% 0 0.5% 1%;
    font-weight: 500;
}

.alertas hr {
    border-color: black;
}

.alertas button {
    width: 15%;
    padding: 1% 0;
    margin: 5% 0 0 40%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1vw;
    color: black;
    background: linear-gradient(90deg, rgba(95, 204, 229, 1) 0%, rgba(173, 230, 247, 1) 100%);
    border: none;
    cursor: pointer;
}

/* barra lateral */
.logomarca:hover {
    cursor: pointer;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: #f3f3f3;
    border-right: #000000 solid;
}

.sidebar .logomarca {
    width: 70%;
    margin: 10% 10% 10% 15%;
}

.sidebar hr {
    margin: 0 5%;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 5% 0% 10% 0%;
    color: #c43c10;
    padding: 8% 0 8% 10%;
    font-size: 1.2vw;
    height: 50%;
}

.sidebar.dark_mode a {
    color: white;
}

.sidebar i {
    width: 10%;
    margin: 4% 6% 4% 10%;
}

.sidebar a:hover {
    background-color: rgb(67, 190, 218);
    color: black;
    border-radius: 0px 4px 4px 0px;
    box-shadow: inset 0 4px 13px -7px rgba(0, 0, 0, 0.3), inset 0 -3px 13px -7px rgba(0, 0, 0, 0.3);
}

.sidebar #saida {
    align-self: center;
    color: #000000;
    padding: 0;
    height: auto;
    margin-top: auto;
}

.sidebar #saida:hover {
    background-color: #f3f3f3;
    border-radius: 0;
    box-shadow: none;
}

/* barra de navegação */

.caixa_maior {
    display: flex;
    flex-direction: column;
    width: 84%;
    height: auto;
    align-items: center;
    margin-left: 15%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    margin: 1% 0 3% 2%;
}

header h2 {
    margin-top: 1%;
}

.lateral_icones {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
    gap: 4%;

}

.lateral_icones h4 {
    font-weight: normal;
    font-size: 1.1vw;
}

.lateral_icones .icone {
    width: 20%;
    height: 6vh;
    background-color: #7a7a7a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone i {
    cursor: pointer;
    background: -webkit-linear-gradient(90deg, rgba(95, 204, 229, 1) 0%, rgba(173, 230, 247, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icone:hover {
    cursor: pointer;
}

.user {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.lateral_icones .circulo {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: linear-gradient(155deg, #D47C5E 0%, #ADD8EF 80%);
    margin: 0% 10% 0% 4%;
}

/* botão registrar*/
.botao_registrar {
    display: flex;
    align-self: normal;
    justify-content: right;
    padding: 2% 5% 2% 0%;
}

.botao_registrar button {
    width: 15%;
    padding: 1% 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1vw;
    color: black;
    background: linear-gradient(90deg, rgba(95, 204, 229, 1) 0%, rgba(173, 230, 247, 1) 100%);
    border: none;
    cursor: pointer;
}

/* Alerta Toast */

.alertasToastsBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    width: 400px;
    height: 80px;
    background-color: #FFF;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
    border-radius: 7px;
    left: 800px;
}

@keyframes moveleft {
    100% {
        transform: translateX(0);
    }
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: red;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

/* conteúdo */
.card_graphic {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    min-height: 95%;
    margin-left: 2%;
}

.informarcoes {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.alertas_dia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    padding: 2%;
    width: 20vw;
    height: 10vh;
    background: linear-gradient(90deg, rgba(95, 204, 229, 1) 0%, rgba(173, 230, 247, 1) 100%);
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
    border-radius: 12px;
}

.alertas_dia span {
    font-size: 3rem;
}

.sensor_fun {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 20vw;
    height: 10vh;
    background: linear-gradient(90deg, rgba(95, 204, 229, 1) 0%, rgba(173, 230, 247, 1) 100%);
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
    border-radius: 12px;
}

.sensor_fun span {
    font-size: 3rem;
}

.locais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    padding: 2%;
    width: 20vw;
    height: 10vh;
    background: linear-gradient(90deg, rgba(95, 204, 229, 1) 0%, rgba(173, 230, 247, 1) 100%);
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
    border-radius: 12px;
}

.locais span {
    font-size: 3rem;
}

#texto {
    font-size: larger;
}

.info_space {
    padding: 2%;
}

.gerais {
    display: flex;
    padding: 2%;
    gap: 2%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.5);
}

.especifico {
    display: flex;
    padding: 2%;
    gap: 2%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.linha1,
.linha2 {
    width: 80%;
    gap: 5%;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grafico {
    width: 400px;
    height: 250px;
    padding: 20px
}