.formulario{
    background-color: #C23A0D;
    display: flex;
    flex-direction: column; 
    width: 70%;
    height: 30%; /* se mudar aqui deixa na metade o form de login*/
    color: white;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    
    
}

.formulario h4 {
    
    margin: 0;
}

#saudacao {
    font-size: 25px;
    margin-bottom: 20px;
    align-self: center;
}

.formulario input {
    
    border: 1px solid #C23A0D;
    width: 500px; /* tamanho da input*/
    height: 30px; /*grossura da input*/
    border-radius: 50px;
    margin-bottom: 20px;
    
    
}

.formulario button {
    background-color: white;
    border-radius: 100px;
    color: #C23A0D;
    width: 150px;
    border: 0;
    padding: 12px 0;
    align-self: center;
    cursor: pointer;
}

